@import '../common/mixin';

@mixin border-css($color: $highlight-color) {
  border-color: transparent;
  border-bottom-color: $color;
}

.login_form {
  top: 50%;
  margin: auto;
  padding: 24px 24px 0;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 50px rgba(#000, 0.05);
  transform: translateY(-50%);
  h3 {
    margin-bottom: 15px;
    padding: $default-space;
    border-bottom: 1px solid $default-gray;
  }
  :global {
    .form-wrapper {
      // padding: 0 30px;
    }
    .ant-btn-primary[disabled] {
      background-color: rgba($color: $theme-color, $alpha: 0.8);
      color: $default-gray;
    }
    .placeholder-text {
      // top: -11px;
      // left: 35px;
      // z-index: -1;
      transition: transform 0.2s;
    }
    .login-input-focus {
      transform: scale(0.9) translate(-10px, -22px);
    }
    .has-error .ant-input {
      @include border-css();
      &:hover {
        @include border-css();
      }
    }
    .has-error .ant-input:focus {
      box-shadow: none;
    }
    input {
      border: 0;
      border-bottom: 1px solid $default-gray;
      background-color: transparent;
      border-radius: 0;
      &:focus,
      &:hover {
        @include border-css($theme-color);
        box-shadow: none;
      }
      &:focus,
      &:valid[required] {
        ~ .ant-input-suffix {
          transform: scale(0.8) translate(-45px, -34px);
        }
      }
      ~ .ant-input-suffix {
        left: 35px;
        pointer-events: none;
        transition: transform 0.2s;
      }
    }
    .input-verify-code input {
      &:focus,
      &:valid[required] {
        ~ .ant-input-suffix {
          transform: scale(0.8) translate(-28px, -34px);
        }
      }
    }
  }
}

.login_logo {
  margin-bottom: 24px;
}

.btn_get_verify_code {
  width: 102px;
}
