#nprogress .bar {
  background: #1890ff;
  height: 5px; }

#nprogress .peg {
  box-shadow: 0 0 10px #1890ff, 0 0 5px #1890ff; }

#nprogress .spinner-icon {
  border-top-color: #1890ff;
  border-left-color: #1890ff; }
